{% extends "./base.html" %}

{% load static %}

{% block content %}


<main>
  
  <div class="album py-5 bg-light">
    <div class="container">
      
      <form method="get" action="{% url 'list-category' category.slug %}" class="sort-form">
        {% csrf_token %}
        <label for="sort_by">Sort by:</label>
        <select name="sort_by" id="sort_by">
            <option value="">-- Choose --</option>
            <option value="price_asc" {% if sort_by == 'price_asc' %}selected{% endif %}>Price: Low to High</option>
            <option value="price_desc" {% if sort_by == 'price_desc' %}selected{% endif %}>Price: High to Low</option>
            <option value="name_asc" {% if sort_by == 'name_asc' %}selected{% endif %}>Name: A to Z</option>
            <option value="name_desc" {% if sort_by == 'name_desc' %}selected{% endif %}>Name: Z to A</option>
        </select>

        <button type="submit">Sort &nbsp; <i class="fa fa-sort" aria-hidden="true"></i></button>
      
      </form>

      <div class="pb-3 h5"> {{category.name | capfirst}} </div>


      <hr>

      <br>


      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

          <div class="col">

            <div class="card shadow-sm">
              
              <img class="img-fluid" alt="Responsive image" src="{{product.default_image.url}}">
            
              <div class="card-body">
                <p class="card-text">
                  <a class="text-info text-decoration-none" href="{{product.get_absolute_url}}"> {{product.title}} </a>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="card-price"> $ {{product.price}} </h5>
                </div>
              </div>
            </div>
          </div>

        {% endfor %}



      </div>
    </div>
  </div>
  <br>


  <div class="pagination justify-content-center">
    <ul class="pagination">
      {% if products.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
      {% endif %}
      {% for num in products.paginator.page_range %}
        {% if products.number == num %}
          <li class="page-item active" aria-current="page"><span class="page-link">{{ num }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}
      {% if products.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ products.paginator.num_pages }}">Last</a></li>
      {% endif %}
    </ul>
  </div>


<br>


</main>

{% endblock %}