{% extends "store/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

        <br>

        <div class="container bg-light shadow-md p-5 login-register-site">
            <div class="text-center">
                <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
                <br> <br>
                <h4><strong>A verification link has been sent to your email!</strong></h4>
                <hr>
                <p>Please check your email.</p>
            </div> 
        </div>
    <br>
    <br>

{% endblock %}