{% extends "store/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <body>
        <br>

        <div class="container bg-light shadow-md p-5 form-layout">
            <div class="text-center">
                <i class="fa fa-times fa-4x text-danger" aria-hidden="true"></i>                <br> <br>
                <h4><strong>Email verification failed!</strong></h4>
                <hr>
                <p>Please try later or contact support.</p>
            </div> 
        </div>
    </body>
    <br>
    <br>

{% endblock %}