# Instructions:
# 1. Fill in the values of environment variables in the .env file according to your application configuration.
# 2. Set DEBUG to False in production settings.

# Django ecommerce/settings.py
SECRET_KEY="qi%py5b1m&dd_or0sjs#8ho%s#o8-fnej*sea5rjn(_+9mn+ej"
# SMTP must be in gmail.com
EMAIL_HOST_USER="your_email@gmail.com"
EMAIL_HOST_PASSWORD="your_password"
DEFAULT_FROM_EMAIL="your_email@gmail.com"

