{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


    <br>

    <div class="container bg-light shadow-md p-5 form-layout">
        
        <h3> <i class="fa fa-address-book" aria-hidden="true"></i> &nbsp; Profile management</h3>
        <hr>

    </div>

    <br>

    <div class="container bg-light shadow-md p-5 form-layout">

        <h3>Update your account</h3>
        <hr>
        <br>

        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-primary navbar-btn text-white"> &nbsp; Update your account </button>
        </form>

        

    </div>

    <br>

    <div class="container bg-light shadow-md p-5 form-layout">

        <h3>Delete your account</h3>

        <hr>

        <p>Proceed if you wish to delete your account.</p>

        <br>

        <a class="btn btn-primary navbar-btn text-white" type="button" href="{% url "delete-account" %}">Delete your account</a> 


    </div>


<br><br>


{% endblock %}