
{% extends "store/base.html" %}

{% load static %}


{% block content %}


<div class="container bg-light shadow-md p-5 payment-page">

    <form id="complete-order-form" onsubmit="event.preventDefault();">
        {% csrf_token %}

        <div>

            <h3> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Complete your order </h3>

            <p> Please enter in the relevant information below. </p>



            <hr>

            <br>

            <div class="form-field">
            
                <input class="form-control validate" id="name" type="text" placeholder="Full name*" autocomplete="off" value="{{shipping_address.full_name}}" required>

            </div>


            <br>


            <div class="form-field">

                <input class="form-control validate" id="email" type="email" placeholder="Email address*" autocomplete="off" value="{{shipping_address.email}}" required>

            </div>


            <br>


            <div class="form-field">

                <input class="form-control validate" id="phone-number" type="text" placeholder="Phone Number*" autocomplete="off" value="{{shipping_address.phone_number}}" required>

            </div>

            
            <br>

            
            <div class="form-field">

                <input class="form-control validate" id="address1" type="text" placeholder="Address (Street)*" autocomplete="off" value="{{shipping_address.address1}}" required>

            </div>


            <br>


            <div class="form-field">

                <input class="form-control validate" id="number" type="text" placeholder="Address 2*" autocomplete="off" value="{{shipping_address.number}}" required>

            </div>


            <br>


            <div class="form-field">

                <input class="form-control validate" id="city" type="text" placeholder="City*" autocomplete="off" value="{{shipping_address.city}}" required>

            </div>


            <br>


            <div class="form-field">

                <input class="form-control" id="state" type="text" placeholder="State (Optional)" autocomplete="off" value="{{shipping_address.state}}">

            </div>


            <br>


            <div class="form-field">

                <input class="form-control" id="zipcode" type="text" placeholder="Zip code (Optional)" autocomplete="off" value="{{shipping_address.zipcode}}">

            </div>
    
        </div>

        <br>             

        <br>

        <div id="payment-alert">
            <p id="payment-alert-message"></p>
        </div>

        <div id="paypal-button-container"
            data-complete-order-url="{% url 'complete-order' %}"
            data-payment-success-url="{% url 'payment-success' %}"
            data-payment-fail-url="{% url 'payment-fail' %}"
            data-csrf-token="{{ csrf_token }}"
            data-total-price="{{ cart.get_total }}"
        ></div>

        <script src="https://www.paypal.com/sdk/js?client-id=AfYkG3UZ87Do_PDsbjt-XCfP5cpElu2snxYJMxOIjo-caDqI_wzT9UXipGwHz4HiLCMAw1R8Ho2dWTVK&currency=USD&intent=capture&enable-funding=venmo" data-sdk-integration-source="integrationbuilder"></script>


    </form>

</div>

{% endblock %}